.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;

  /* padding: 1em 0; */
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  /* margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 4rem 0;
  margin-bottom: 10rem;
  background-color: #f2f3f5;
 /* box-shadow: 0 0 20px rgba(0,0,0,.1); */
}

.ui.vertical.stripe.smallPadding {
  padding: 2rem 0;
  margin-bottom: 4rem;
  background-color: #f2f3f5;
}


.ui.vertical.stripe.noPadding {
  padding: 0em 0;
 /* margin-bottom: 4rem;*/
  background-color: #f2f3f5;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.ui .inverted .vertical .center .aligned .segment .vertical .inverted .masthead .responsive {
  padding: 0;
}

.ui.stripe.alternate {
  background-color: #f2f3f5; 
}

.quote.stripe.segment {
  padding: 0;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .masthead.segment {
    min-height: 350px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

/* Code blocks (Fix a strange bug with prismjs) */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
}

.ui.container.headerContainer{
  background: #f2f3f5;
  padding: 0;
  margin: 0;
  width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

.ui.vertical.center.aligned.segment.masthead{
  padding-top: 0rem ;
}
.ui.vertical.center.aligned.segment.masthead.heroImage{
  padding-top: 5vh;
}
  /*
.navbar {
overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  flex-grow: 1;
}


.mainContent {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
/*x }
e
.pusher{
  display: flex;
  
  min-height: 100vh;
  flex-direction: column;
}*/

.sticky-wrapper {
  position: relative;
  height: 3rem; /* We need to change this value */
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.ui.segment.content{
  background-color: #f2f3f5;
}

@media only screen and (max-width:767px) {
  .ui.segment.firstSegment{
    /* height: -webkit-fill-available;
      min-height: 57rem;*/
      height: 94vh;
   /*   padding: 20vh 18vw; */
      text-align: center;
    }
      
  .ui.segment.ui.segment.firstSegment > h1{
    font-family: "Bad Script";
    font-size: 6rem;
    margin: auto!important;
    width: 70vw;
    height: 65vh;
    padding-top: 19vh;
  }
  .ui.segment.ui.segment.firstSegment > h1 > h2.sub.header{
    font-family: "Bad Script";
    font-size: 3rem;
  }
}

@media only screen and (min-width:768px) {
  .ui.segment.firstSegment{
  /* height: -webkit-fill-available;
    min-height: 57rem;
    padding: 25vw 19vh;*/
    height: 94vh;
    text-align: center;
  }
    
  .ui.segment.ui.segment.firstSegment > h1{
    font-family: "Bad Script";
    font-size: 8rem;
    margin: auto!important;
    width: 50vw;
    height: 65vh;
    padding-top: 19vh;
  }
  .ui.segment.ui.segment.firstSegment > h1 > h2.sub.header{
    font-family: "Bad Script";
    font-size: 3rem;
  }
}
.ui.attached.tabular.menu>.item:not(.active){
  color:#ffffff;
}

.ui.vertical.segment.inversed{
  color:#ffffff;
}

.h3{
  font-size:3.285714vh;
}

.p{
  font-size: 2vw;
}

iframe.map{
  height: 53vh;
  width:100%;
}

.heroImage > div > div > h1{
  font-family: "Bad Script";
  font-size: 3rem;
  box-shadow: none;
}

.heroText, .heroText>h3{
  font-family: "Bad Script";
  font-size: 3rem;
  color: #ffffff;
}
.heroText>p{
  font-family: "Bad Script";
  font-size: 2rem;
  color: #ffffff;
}