.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;

  /* padding: 1em 0; */
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  /* margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0;
  margin-bottom: 10rem;
  background-color: #f2f3f5;
}

.ui.vertical.stripe.smallPadding {
  padding: 2rem 0;
  margin-bottom: 4rem;
  background-color: #f2f3f5;
}


.ui.vertical.stripe.noPadding {
  padding: 0em 0;
  margin-bottom: 4rem;
  background-color: #f2f3f5;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.ui .inverted .vertical .center .aligned .segment .vertical .inverted .masthead .responsive {
  padding: 0;
}

.ui.stripe.alternate {
  background-color: #f2f3f5; 
}

.quote.stripe.segment {
  padding: 0;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .masthead.segment {
    min-height: 350px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

/* Code blocks (Fix a strange bug with prismjs) */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
}
