
/* @import "compass/css3"; */

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;

  /* padding: 1em 0; */
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  /* margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 4rem 0;
  margin-bottom: 10vh;
  background-color: #f2f3f5;
 /* box-shadow: 0 0 20px rgba(0,0,0,.1); */
}

.ui.vertical.stripe.smallPadding {
  padding: 2rem 0;
  margin-bottom: 4rem;
  background-color: #f2f3f5;
}


.ui.vertical.stripe.noPadding {
  padding: 0em 0;
 /* margin-bottom: 4rem;*/
  background-color: #f2f3f5;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.ui .inverted .vertical .center .aligned .segment .vertical .inverted .masthead .responsive {
  padding: 0;
}

.ui.stripe.alternate {
  background-color: #f2f3f5; 
}

.quote.stripe.segment {
  padding: 0;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .masthead.segment {
    min-height: 350px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

/* Code blocks (Fix a strange bug with prismjs) */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
}

.ui.container.headerContainer{
  background: #f2f3f5;
  padding: 0;
  margin: 0;
  width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

.ui.vertical.center.aligned.segment.masthead{
  padding-top: 0rem ;
}
.ui.vertical.center.aligned.segment.masthead.heroImage{
  padding-top: 5vh;
}
  /*
.navbar {
overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  flex-grow: 1;
}


.mainContent {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
/*x }
e
.pusher{
  display: flex;
  
  min-height: 100vh;
  flex-direction: column;
}*/

.sticky-wrapper {
  position: relative;
  height: 3rem; /* We need to change this value */
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.ui.segment.content{
  background-color: #f2f3f5;
}

@media only screen and (max-width:767px) {
  .ui.segment.firstSegment{
    /* height: -webkit-fill-available;
      min-height: 57rem;*/
      height: 87vh;
   /*   padding: 20vh 18vw; */
      text-align: center;
      box-shadow:none;
      border:none;
    }
      
  .ui.segment.ui.segment.firstSegment > h1{
    font-family: "Custom Apple Chancery Regular";
    font-size: 6rem;
    margin: auto!important;
    width: 70vw;
    height: 65vh;
    padding-top: 19vh;
  }
  .ui.segment.ui.segment.firstSegment > h1 > h2.sub.header{
    font-family: "Custom Apple Chancery Regular";
    font-size: 3rem;
  }
}

@media only screen and (min-width:768px) {
  .ui.segment.firstSegment{
  /* height: -webkit-fill-available;
    min-height: 57rem;
    padding: 25vw 19vh;*/
    height: 87vh;
    text-align: center;
    box-shadow:none;
    border:none;
  }
    
  .ui.segment.ui.segment.firstSegment > h1{
    font-family: "Custom Apple Chancery Regular";
    font-size: 8rem;
    margin: auto!important;
    width: 50vw;
    height: 65vh;
    padding-top: 19vh;
  }
  .ui.segment.ui.segment.firstSegment > h1 > h2.sub.header{
    font-family: "Custom Apple Chancery Regular";
    font-size: 3rem;
  }
}
.ui.attached.tabular.menu>.item:not(.active){
  color:#ffffff;
}

.ui.vertical.segment.inversed{
  color:#ffffff;
}

.h3{
  font-size:3.285714vh;
}

.p{
  font-size: 2vw;
}

iframe.map{
  height: 53vh;
  width:100%;
}

.heroImage > div > div > h1{
  font-family: "Custom Apple Chancery Regular";
  font-size: 3rem;
}

.heroText, .heroText>h3{
  font-family: "Custom Apple Chancery Regular";
  font-size: 5vh;
  color: #ffffff;
}
.heroText>p{
  font-family: "Custom Apple Chancery Regular";
  font-size: 3vh;
  color: #ffffff;
}

.ui.segment.heroText{
  box-shadow: none;
  border: none;
}

.ui.segment.inverted.blogTitle{
  background: none;
  font-family: "Custom Apple Chancery Regular";
  font-size: 5vh;
  padding-top: 10vh;
  padding-bottom: 6vh;
}

.centered.row.osezCouleur > h1{
  background: url("bg.png");
  font-family: 'Custom Apple Chancery Regular';
  font-size: 10vh;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-fill-color: transparent; /* not yet supported */
  background-clip: text; /* not yet supported */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent; /* not yet supported */
  -moz-background-clip: text;
}
.centered.row.getMarried > h1{
  color:#000;
  font-family: 'Custom Apple Chancery Regular';
  font-size:10vh;
  -webkit-text-fill-color: ;
}
.color1, .color10{
  color:#db3c29;
}

.color2, .color15{
  color:#834eed;
}

.color3, .color9{
  color:#d3ab2b;
}

.color4, .color16{
  color:#59adaf;
}

.color5, .color13{
  color:#da8128;
}

.color6, .color11{
  color:#a9c41f;
}
.color7, .color14{
  color:#d9ca27;
}
.color8, .color12{
  color:#e47f74;
}


@keyframes bounce{
  from {top: 106px;}
  to   {top: 86px;}
}
body {
  background: black;
}

.ui.segment.arrow.vertical {
 /*  position: fixed;
 bottom: 0; */
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: contain;
  box-shadow:none;
  border:none;
}

.bounce {
  animation : bounce 2s infinite;
}

.ui.segment.arrow.vertical.heroArrow{
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: contain;
  box-shadow:none;
  border:none;
  margin-top:-7vh;
}

.iFrameCovoit{
  border:none;
  width:412px;
  height:172px;
}
